body {
  background-color: #d5e1ef;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.main-container {
  height: 499px;
  width: 320px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.attribution {
  font-size: 11px; 
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
 
}